
.markdown h2 {
    font-size: 1.5em;
    font-weight: bold;
    padding-bottom: 0.5em;
}

.markdown h1 {
    font-size: 1.6em;
    font-weight: bold;
    padding-bottom: 1em;
}

.markdown p {
    font-size: 1em;
    font-weight: normal;
    padding-bottom: 0.5em;
}

.markdown ol {
    counter-reset: linenumber;
    list-style: decimal inside;
}